<%- include('../partials/header') %>
          <h1>Video games</h1>
          <h4>In this page you see how favorite Videos games to  play!!</h4>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYzWYsQrMUOAm8InQICfIcnQXXjJhEw__zrA&usqp=CAU" <br> 
      <p>Played countless hours of Halo 3 Greatest game of all time !!  </p>    
      <p>Currently playing destiny 2! (Bungie Fan) </p>    
      <p>Big Call of Duty Player! </p>    
      <p>Valorant PC player as well </p>
      <p>Apex Legends is huge for me! </p>
      <p>Apex Legends is huge for me! </p>
      <p>Runescape, the legendary mmorpg!  </p>

 <%- include('../partials/footer') %>