<%- include('../partials/header') %>
          <h1>Hikes</h1>
          <h4>In this page you see my favorite hikes of all time ( a totally bias Washinton State Only!)</h4>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQchr765QCbZejDXdhKavrdR8RhXgwLLwQ0WA&usqp=CAU" <br> 
      <p>Lake Serene hike was tought but amazing!  </p>    
      <p>Rattle snake Hike was awesome, steep, but awesome! </p>    
      <p>Franklin Falls! What an experience, water was really cold!  </p>    
      <p>Poo poo point! What a trail, amazing views </p>
      <p>Mount Rainer, got to the base of the mountain and what an experince being so close to such an amazing mountain!!</p>

 <%- include('../partials/footer') %>