<%- include('../partials/header') %>
          <h1>Sports</h1>
          <h4>In this page you see how favorite Sports to watch and play as well!!</h4>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_jilywryG-lGVrpiAP1-WXkqCk9gtdD4yLg&usqp=CAU" <br> 
      <p>I enjoy Soccer year round! </p>    
      <p>I enjoy Basketball during Winter!</p>    
      <p>I enjoy Baseball during spring!  </p>    
      <p>I enjoy Football during the fall! </p>
      <p> I am a very sporty individual!!</p>

 <%- include('../partials/footer') %>